In [1]:
import csv
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.nfl.com/standings/league/2020/reg/'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'lxml')

In [ ]:
#soup

In [4]:
# extract the table
table = soup.find('table', {"class":"d3-o-table d3-o-table--row-striping d3-o-table--detailed d3-o-standings--detailed d3-o-table--sortable {sortlist: [[4,1]], sortinitialorder: 'desc'}"})
headers = []

for i in table.find_all('th'):
    title = i.text.strip()
    headers.append(title)

In [5]:
df = pd.DataFrame(columns = headers)
df

Empty DataFrame
Columns: [NFL Team, W, L, T, PCT, PF, PA, Net Pts, Home, Road, Div, Pct, Conf, Pct, Non-Conf, Strk, Last 5]
Index: []

In [6]:
for row in table.find_all('tr')[1:]:
    data = row.find_all('td')
    row_data = [td.text.strip() for td in data]
    length = len(df)
    df.loc[length] = row_data

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [10]:
df.to_csv('Bella.csv', index=False)

In [11]:
url = 'https://worldometers.info/world-population/'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'lxml')

In [ ]:
soup

In [14]:
# getting the table
table = soup.find('table', {"class":"table table-striped table-bordered table-hover table-condensed table-list"})
headers = []

for i in table.find_all('th'):
    title = i.text.strip()
    headers.append(title)

In [15]:
df = pd.DataFrame(columns = headers)
df

Empty DataFrame
Columns: [Year (July 1), Population, Yearly %  Change, Yearly Change, Median Age, Fertility Rate, Density (P/Km²), Urban Pop %, Urban Population]
Index: []

In [16]:
for row in table.find_all('tr')[1:]:
    data = row.find_all('td')
    row_data = [td.text.strip() for td in data]
    length = len(df)
    df.loc[length] = row_data

In [17]:
df

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population
0,2020,"7,794,798,739",1.05 %,"81,330,639",30.9,2.47,52,56.2 %,"4,378,993,944"
1,2019,"7,713,468,100",1.08 %,"82,377,060",29.8,2.51,52,55.7 %,"4,299,438,618"
2,2018,"7,631,091,040",1.10 %,"83,232,115",29.8,2.51,51,55.3 %,"4,219,817,318"
3,2017,"7,547,858,925",1.12 %,"83,836,876",29.8,2.51,51,54.9 %,"4,140,188,594"
4,2016,"7,464,022,049",1.14 %,"84,224,910",29.8,2.51,50,54.4 %,"4,060,652,683"
...,...,...,...,...,...,...,...,...,...
13,1975,"4,079,480,606",1.97 %,"75,808,712",22,4.47,27,37.7 %,"1,538,624,994"
14,1970,"3,700,437,046",2.07 %,"72,170,690",22,4.93,25,36.6 %,"1,354,215,496"
15,1965,"3,339,583,597",1.93 %,"60,926,770",22,5.02,22,N.A.,N.A.
16,1960,"3,034,949,748",1.82 %,"52,385,962",23,4.90,20,33.7 %,"1,023,845,517"
17,1955,"2,773,019,936",1.80 %,"47,317,757",23,4.97,19,N.A.,N.A.

In [18]:
df.head()

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population
0,2020,"7,794,798,739",1.05 %,"81,330,639",30.9,2.47,52,56.2 %,"4,378,993,944"
1,2019,"7,713,468,100",1.08 %,"82,377,060",29.8,2.51,52,55.7 %,"4,299,438,618"
2,2018,"7,631,091,040",1.10 %,"83,232,115",29.8,2.51,51,55.3 %,"4,219,817,318"
3,2017,"7,547,858,925",1.12 %,"83,836,876",29.8,2.51,51,54.9 %,"4,140,188,594"
4,2016,"7,464,022,049",1.14 %,"84,224,910",29.8,2.51,50,54.4 %,"4,060,652,683"

In [19]:
df.tail()

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population
13,1975,"4,079,480,606",1.97 %,"75,808,712",22,4.47,27,37.7 %,"1,538,624,994"
14,1970,"3,700,437,046",2.07 %,"72,170,690",22,4.93,25,36.6 %,"1,354,215,496"
15,1965,"3,339,583,597",1.93 %,"60,926,770",22,5.02,22,N.A.,N.A.
16,1960,"3,034,949,748",1.82 %,"52,385,962",23,4.90,20,33.7 %,"1,023,845,517"
17,1955,"2,773,019,936",1.80 %,"47,317,757",23,4.97,19,N.A.,N.A.

In [20]:
df.to_csv('Bella1.csv', index=False)